.profile {
  width: 300px;
  margin: 50px auto 0; /* Встановлює відступ 50px зверху, вирівнює по центру горизонтально і прибирає відступ знизу */
  padding-top: 20px;
  text-align: center;
  border: 1px solid #222;
  background-color: #fff;
}

.description {
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  margin: 0 auto 20px; /* Вирівнює аватар по центру і додає відступ знизу */
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}

.tag,
.location {
  font-size: 14px;
  color: #777;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #f3f6f9;
  border-top: 1px solid #222;
}

.stats li {
  width: 33%;
  text-align: center;
  background-color: #e0e0e0;
  border-right: 1px solid #222;
}

.stats li:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 14px;
  color: grey;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
